<div text-end>
    <i cursor-pointer (click)="close()" class="material-icons">
        close
    </i>
</div>
<form action="" [formGroup]="formGroup">
    <div text-center>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Key"  formControlName="key">
        </mat-form-field>
    </div>
    <div text-center>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Shop name" formControlName="shop_name">
        </mat-form-field>
    </div>
    <div margin-top-30 text-center>
        <button (click)="add()" [disabled]="formGroup.invalid" capitalize cursor-pointer
            class="add-button">Add</button>
    </div>
</form>
<app-loading  [visiblity]="visiblity"></app-loading>