.add-button{
    font-size: 18px;
    border: none;
    color: white;
    height: 36px;
    border-radius: 5px;
    width: 100px;
    background: #4a90e2;
    box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);    
}
.mat-form-field{
    width: 80%;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
    font-size: 18px;
}