<div style="overflow-x:auto;">
  <table *ngIf="items[0]">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Country</th>
      <th>Manufacturer code</th>
      <th>Vendor code</th>
      <th>Season</th>
      <th>View</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>
        <div margin-side-auto [ngStyle]="setImage(item)"
          class="user-image"></div>
      </td>
      <td text-center>{{item.name}}</td>
      <td text-center>{{item.description}}</td>
      <td text-center>{{item.brands_name}}</td>
      <td text-center>{{item.category_name}}</td>
      <td text-center>{{item.country_of_origin}}</td>
      <td text-center>{{item.manufacturer_code}}</td>
      <td text-center>{{item.vender_code}}</td>
      <td text-center>{{item.season}}</td>
      <td text-center>
        <button (click)="openView(item.id)" class="edit">View</button>
      </td>
    </tr>
  </table>
</div>
<div margin-bottom-10 text-center [ngClass]="{'empty-array':!items[0],'array':items[0]}">
  <button (click)="addItem()" cursor-pointer class="add-button">Add Item</button>
</div>
<app-loading [visiblity]="visiblity"></app-loading>