table, th, td {
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    padding: 3px;
  }
  td{
    width: 10%;
  }
  .user-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .add-button{
    font-size: 20px;
    border: none;
    color: white;
    height: 45px;
    border-radius: 6px;
    width: 175px;
    background: #4a90e2;
    box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2)
  }
  .edit{
    background-color: #4a90e2;
    border: none;
    color: white;
    height: 30px;
    width: 55px;
    cursor: pointer;
    font-size: 15px;
  }
  table{
      width: 90%;
      margin: 20px auto 0 auto
  }
  .empty-array{
    margin: 0
  }
  .array{
    margin-top: 30px
  }