.open{
    margin-left: 205px
}
.close{
    margin-left: 0
}
.content{
    margin-bottom: 10px;
    padding-top: 55px;
    transition: margin-left 700ms
}
@media screen and (max-width:920px){
    .open{
        margin-left: 0 !important
    }
}

