<div *ngIf="isGet">
  <div margin-10-auto width-60 display-flex justify-center class="ui-g">
    <div width-50>
      <div>Name: {{items?.name}}</div>
      <div>Description: {{items?.description}}</div>
      <div>Brand: {{items?.brands.name}}</div>
      <div>Category: {{items?.category.name}}</div>
    </div>
    <div margin-left-auto width-fit>
      <div>Country: {{items?.country_of_origin}}</div>
      <div>Manufacturer code: {{items?.manufacturer_code}}</div>
      <div>Vendor code: {{items?.vender_code}}</div>
      <div>Season: {{items.season}}</div>
    </div>
  </div>
  <!-- <div width-90 text-center margin-button>
    <button (click)="addImage()" cursor-pointer class="add-button">Add item image</button>
  </div> -->
  <table *ngIf="variants[0]">
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Price</th>
      <th>Size</th>
      <th>Stock</th>

      <!-- <th></th> -->
    </tr>
    <tr *ngFor="let item of variants">
      <!-- <td>
          <div margin-side-auto [ngStyle]="{'background-image':'url('+fileUrl+item.image+')'}" class="user-image"></div>
        </td> -->
      <td text-center>{{item?.name}}</td>
      <td text-center>{{item?.color}}</td>
      <td text-center>{{item?.price}}</td>
      <td text-center>{{item?.size}}</td>
      <td text-center>{{item?.stock}}</td>
      <!-- <td text-center>
          <button (click)="editUser(item.id)" class="edit">View</button>
        </td> -->
    </tr>
  </table>
  <div width-90 text-center margin-button>
    <button (click)="addVariant()" cursor-pointer class="add-button">Add Variant</button>
  </div>
</div>
<app-loading [visiblity]="visiblity"></app-loading>