table, th, td {
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    padding: 5px;

  }
  .user-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid
  }
  .add-button{
    background: #4a90e2;
    border: none;
    color: white;
    height: 45px;
    font-size: 18px;
    width: 175px;
    border-radius: 6px;
  }
  .edit{
    background: green;
    border: none;
    color: white;
    height: 30px;
    width: 55px;
    cursor: pointer;
  }
  table{
      width: 90%;
      margin: 20px auto 0 auto
  }
  *[width-50]{
      width: 50%;
  }
  *[width-40]{
    width: 40%;
}
*[width-60]{
  width: 80%;
}
  *[margin-left-10prc]{
    margin-left: 10%
  }
  *[margin-10-auto]{
    margin: 10px auto
  }
 