<div class="loading-container" display-flex *ngIf="visiblity">
        <p-progressSpinner [ngClass]="{'open-menu':appService.isOpen ,'close-menu':!appService.isOpen}" margin-auto></p-progressSpinner>
</div>