.loading-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    //pointer-events: none;
    pointer-events: visiblefill;
    cursor: default;
    text-decoration: none;
    color: black;
    z-index: 4;
}
*[margin-auto]{
    margin: auto
}
.open-menu{
    padding-left: 200px;
}
.close-menu{
    padding-left:0 !important
}
@media screen and (max-width:920px){
    .open-menu{
        padding-left: 0 !important;
    }
}