.logo{
    margin-bottom: 20px;
    img{       
        width: 80%;
    }
}
.description{
    font-size: 18px;
    color: #4a4a4a;
    width: 78%;
    margin: 10px auto;
}
.bottom-image{
    display: block;
    margin-top: 15px;
    img{
        width: 60%;
    }    
}
.web{
    display: block;
}
.mobile{
    display: none;
}
.registr-content{
    margin: 0 auto;
    .form_group{
        width: 100%;
    }
    .input{
        box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.5);
        width: 100%;
        border-radius: 8px;
        border: 3px solid rgb(151,151,151);
        height: 60px;
        padding-left: 10px;
        margin-bottom: 30px;
        margin-top: 10px;
        font-size: 18px;
        color: rgb(74,74,74);
    }
    label {
        font-family: 'HelveticaNeue-Light'  ;
        font-size: 21px;
        color:rgb(74,74,74);
      // font-family: 'HelveticaNeue'
    }
    .registr-button{
        font-size: 22px;
        border: 1px solid rgb(151,151,151);
        color: rgb(74,74,74);
        height: 55px;
        margin-top: 30px;
        font-weight: bold;
        border-radius: 8px;
        width: 60%;
        background: linear-gradient(rgb(216,216,216),rgb(179,179,179));
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.error{
    color: red;
    font-size: 15px;
    margin-bottom: 18px;
    margin-top: 15px;
}

input[type=number] {
    -moz-appearance:textfield;
}
*[width-50]{
    width: 50%;
}
@media screen and (max-width: 1680px) {
    .bottom-image{
        margin-top: 15px;
        img{
            width: 75% !important;
        }    
    }
}
@media screen and (max-width: 640px){
    .web{
        display: none !important;
    }
    .form_group{
        width: 78% !important;
        margin: 0 auto !important;
    }
    .mobile{
        display: block !important
    }
}
.no-equal{
    border: 3px solid red !important
}
.no-margin{
    margin-bottom: 0 !important
}