<div padding-top-20 class="ui-g">
    <p-toast key="registrKey"></p-toast>
    <p-toast key="error"></p-toast>
    <div  no-padding class="ui-g-12 ui-lg-6 ui-md-6 ui-sm-12">
        <div text-center class="logo"> <img src="assets/imgs/logo.png"></div>
        <div HelveticaNeue-Light class="description">Welcome to the partner registration page!
            <br>
            <br>
            Over at ROPA we’re focused on creating a quality experience for both our users and partner designers &
            brands. Becoming a vendor on the app means that you’ll be able to showcase your inventory within our network
            and develop relationships with the next generation of cultural influencers.
            <br>
            <br>
            We’re excited to have you on board and look forward to working alongside fashionistas and style trendsetters
            such as yourself in setting a new standard for what it means to be in vogue in the xxist.
        </div>
        <div class="web bottom-image"> <img src="assets/imgs/standInPortrait.png"></div>
    </div>
    <div display-flex align-center class="ui-g-12 ui-lg-5 ui-md-5 ui-sm-12 registr-content">
        <form class="form_group" [formGroup]="formGroup" action="">
            <div>
                <label for="">Brand / Shop Name</label>
                <input class="input" type="text" formControlName="name">
            </div>
            <div>
                <label for="">Email</label>
                <input [class.no-margin]="formGroup.get('email').hasError('pattern') && formGroup.get('email').touched"
                    class="input" type="email" formControlName="email">
                <div class="error" *ngIf="formGroup.get('email').hasError('pattern') && formGroup.get('email').touched">
                    Enter a valid email
                </div>
            </div>
            <div>
                <label for="">Password</label>
                <input class="input" type="password" formControlName="password">
            </div>
            <div>
                <label for="">Re-enter Password</label>
                <input
                    [ngClass]="{'no-equal':!formGroup.get('rePassword').hasError('required') && formGroup.value.password !== formGroup.value.rePassword}"
                    class="input" type="password" formControlName="rePassword">
            </div>
            <!-- <div class="error"
                *ngIf="!formGroup.get('rePassword').hasError('required') && formGroup.value.password !== formGroup.value.rePassword">
                Paswords are not the same
            </div> -->
            <div text-center>
                <button [disabled]="formGroup.invalid" HelveticaNeue-Bold cursor-pointer red (click)="registration()"
                    class="registr-button">Continue</button>
            </div>
            <!-- <div class="error">{{errorMessage}}</div> -->
        </form>
    </div>
    <div class="mobile bottom-image"> <img src="assets/imgs/standInPortrait.png"></div>
</div>
<app-loading [visiblity]="visiblity"></app-loading>