.form{
    width: 80%;
    margin-left: auto;
    margin-right: 15px;  
    .ui-g-4{
        width: 38%;
    }
    .ui-g-3{
        width: 22%;
    }    
    .input{
        box-shadow: inset 0 0 3px 0px rgba(0,0,0,0.5);
        width: 100%;
        border-radius: 8px;
        border: 3px solid rgb(151,151,151);
        height: 36px;
        padding-left: 10px;
        font-size: 17px;   
        color: rgba( 0,0,0,0.5);   
        font-family: 'HelveticaNeue'  ;
        font-weight: 700;
    }
    input::placeholder {
        color: rgba( 0,0,0,0.25);
        font-family: 'HelveticaNeue';
        text-transform: lowercase;
        font-weight: 700;
        //font-family: 'HelveticaNeue' 
    }
    .button{    
            font-size: 15px;
            border: 1px solid rgb(151,151,151);
            color: rgb(74,74,74);
            height: 36px;
            font-weight: bold;
            border-radius: 6px;
            width: 100%;
            background: linear-gradient(rgb(216,216,216),rgb(179,179,179));
            box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);    
    }
}
.moscup{
        text-align: end;
        margin-right: 20px;
    img{
        width: 80%;
    }
}
.sm-img{
    display: none;
}
.lg-img{
    display: block
}
@media screen and (max-width: 950px) {
    .moscup{
        img{
            width: 90%;
        }
    }
    .registration{
        .registr-button {
            width: 230px !important;
        }
    }
    .form{
        width: 90%;
        margin-left: auto;
        margin-right: 15px;  
    }
    .logo{
        img{       
            width: 85% !important;
        }
    }
}
.logo{
    text-align: end;
    margin-right: 20px;
    margin-top: 20px ;
    img{       
        width: 72%;
    }
}
@media screen and (max-width: 670px){
    form{
        flex-direction: column;
        .ui-g-4{
            padding:.5em 0 !important;
            width: 100% !important;
        }
        .ui-g-3{
         padding:.5em  0 !important;
            width: 100% !important;
        }
    }
}
@media screen and (max-width: 550px){
    .moscup{
        text-align: center !important;
        img{
            width: 70% !important;
        }
    }
    .logo{
        text-align: center !important;
            img{
                width: 70% !important;
            }        
    }
    .sm-img{
        display: block;
    }
    .lg-img{
        display:none
    }
    .registration{
        left: 15px !important;
        position: initial !important;
        margin-left: 20px;
        .registr-button {            
            width:130px !important;
            font-size: 15px !important;        
        }
    }  
    form{
        flex-direction: column;
        .ui-g-4{
            padding:.5em 0 !important;
            width: 100% !important;
        }
        .ui-g-3{
         padding:.5em  0 !important;
            width: 100% !important;
        }
    }
    .footer{
        .icon1{
            height: 43px !important;
            width: 46px !important;
        }
        .icon2{
            height: 50px !important;
            width: 90px !important;
        }
        .icon3{
            height: 45px !important;
            width: 53px !important;
        
        }
    }
}
.standInPortrait{
    img{
        width: 97%;
    }
}
.registration{
    width: 57%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 40px;
    .registr-button {
        position: relative;
        border: 1px solid transparent;
        border-radius: 8px;
        background: white;
        background-clip: padding-box;
        font-size: 20px;
        width: 270px;
        height: 45px;
        color: rgb(155,155,155);
        border: 3px solid rgb(194,194,194);
        margin-top: 10px;
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
        cursor: pointer;
        font-family: 'HelveticaNeue-Bold'
    }
        // .registr-button::after {
        //     position: absolute;
        //     top: -4px; bottom: -4px;
        //     left: -4px; right: -4px;
        //     background: linear-gradient(rgb(250,217,97),rgb(247,107,28));
        //     content: '';
        //     z-index: -1;
        //     border-radius: 8px;
        // }
}
.footer{
    margin-top: 30px ;
    border-top: 3px solid rgba(234,220,214,0.7);
    padding: 30px 0;
    width: 100%;
    .icon{
       margin: 30px auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;     
    }
    .icon1{
        background-image: url('./../../../../../../assets/imgs/social.png');;
        height: 70px;
        width: 74px;
    }
    .icon2{
        background-image: url('./../../../../../../assets/imgs/noSizeFitsAllSymbols.png');
        height: 73px;
        width: 131px;
    }
    .icon3{
        background-image: url('./../../../../../../assets/imgs/networkSymbol.png');
        height: 71px;
        width: 84px;
    }
}

*[margin-top-10]{
    margin-top: 10px;
}
*[margin-top-40]{
    margin-top: 40px
}
*[padding-27]{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
*[margin-bottom-15]{
    margin-bottom: 20px
}
*[new-padding]{
    padding: .5em 0 .5em 4px;
}
