<div class="ui-g">
    <div no-padding relative class="ui-g-5">
        <div class="standInPortrait">
            <img src="assets/imgs/standInPortrait2.png" alt="">
        </div>
        <div class="registration">
            <button HelveticaNeue-Bold (click)="goToRegistrationPage()" class="registr-button">
                Vendor Registration
            </button>
        </div>
    </div>
    <div margin-left-auto margin-left-auto text-end padding-top-25 class="ui-g-6 logo-div">
        <form [formGroup]="formGroup" margin-bottom-15 class="ui-g form" display-flex align-center justify-center>
            <div class="ui-g-4">
                <input class="input" placeholder="Email" type="email" formControlName="email">
            </div>
            <div class="ui-g-4">
                <input placeholder="Password" class="input" type="password" formControlName="password">
            </div>
            <div new-padding display-flex align-center justify-center class="ui-g-3">
                <button cursor-pointer blue (click)="login()" class="login button">login</button>
            </div>
        </form>
        <div *ngIf="errorMessage" text-center color-red margin-bottom-12 font-size-14>{{errorMessage}}
        </div>
        <div class="lg-img">
            <div class="moscup">
                <img src="assets/imgs/mockups.png" alt="">
            </div>
            <div class="logo"> <img src="assets/imgs/logo.png"></div>
        </div>
    </div>
</div>
<div class="sm-img">
    <div class="moscup">
        <img src="assets/imgs/mockups.png" alt="">
    </div>
    <div class="logo"> <img src="assets/imgs/logo.png"></div>
</div>
<div class="footer">
    <div class="ui-g">
        <div class="ui-g-4">
            <div text-center font-size-20 HelveticaNeue-Medium>Socially Stylized </div>
        </div>
        <div text-center class="ui-g-4">
            <div font-size-20 HelveticaNeue-Medium>No Size Fits All </div>
        </div>
        <div text-center class="ui-g-4">
            <div wrap font-size-20 HelveticaNeue-Medium>Brand + Personal Empowerment </div>
        </div>
    </div>
    <div class="ui-g">
        <div text-center class="ui-g-4">
            <div class="icon icon1" text-center></div>
        </div>
        <div text-center class="ui-g-4">
            <div class="icon icon2" text-center></div>
        </div>
        <div text-center class="ui-g-4">
            <div class="icon icon3" text-center></div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4">
            <div padding-27 HelveticaNeue-Light font-size-15>
                A personalized shopping experience
                tailored to users and their network, redefining the social marketplace through inclusivity and body
                positiveness by allowing users to become trend setters and models for their favorite brands.
            </div>
        </div>
        <div class="ui-g-4">
            <div padding-27 HelveticaNeue-Light font-size-15>

                From content to cart, our proprietary
                technology synchs users with their
                corresponding sizes across brands
                within the network, creating a seamless
                shopping experience, allowing users
                users to focus on picking up on the latest trends and their content.
                <br>
                <br>
                Sometimes a small, other times a medium?
                In our networks the only size that matters is your own.
            </div>
        </div>
        <div class="ui-g-4">
            <div padding-27 font-size-15 HelveticaNeue-Light>

                A network to empower both brands and users, creating significant connections through fashion+style.
                <br>
                <br>
                Our bounty system turns users into models, connecting content, products, and sales. Users can tag their
                favorite items in a post and be compensated if a sale is made through it, essentially creating
                micro-brand
                ambassadors, and assuring brands that their marketing budget is turning into actual sales.
                <br>
                <br>
                Who knows a piece of clothing better than the person that bought it?
            </div>
        </div>
    </div>
</div>
<app-loading [visiblity]="visiblity"></app-loading>