<div [ngClass]="{'open':appService.isOpen,'close':!appService.isOpen}" class="menu">
    <div *ngFor="let page of menuList">
        <span [routerLink]="page.path" (click)="openPage(page)" routerLinkActive="active"
            cursor-pointer>{{page.pageName}}</span>
    </div>
</div>