.menu{
    z-index: 1;
    position: fixed;
    top: 50px;
    height: calc(100% - 50px);
    width: 200px;   
    transition: left 700ms;
    background: rgb(74,144,226);
    color: white;
    padding-top: 30px ;
    div{
        margin-bottom: 18px;
        margin-left: 20px;
        font-size: 22px;
    }
}


.open{
    left: 0;
}
.close{
    left: -200px;
}
.active{
    text-decoration: underline
}