.header{
    padding-left: 20px;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    font-weight: bold;
    background: #dbedfb;
    color: rgb(74,144,226);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    z-index: 3;
    .menu-icon{
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        height: 23px;
        width: 23px;
        background-image: url('../../../../../../assets/imgs/menu.png')
    }
}

