<div *ngIf="isGet" style="overflow-x: auto">
    <div text-center *ngIf="!api_key">
        <button class="api-key-button" cursor-pointer (click)="addAppiKey()">Add Api Key</button>
    </div>
    <div width-fit margin-side-auto display-flex align-center justify-center text-center *ngIf="api_key">
        <div font-size-22>
            <span class="title-code">Api key</span> : {{api_key}}
        </div>
        <div>
            <i (click)="addAppiKey()" class="edit material-icons">
                edit
            </i>
        </div>
    </div>
    <!-- <table>
        <tr>
            <td  text-center>Code</td>
            <td text-center>{{api_key}}</td>
            <td text-center><i (click)="addAppiKey()" class="edit material-icons">
                edit
            </i></td>
        </tr>
    </table> -->
    <table *ngIf="shopifyProducts[0]">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Country</th>
            <th>Manufacturer code</th>
            <th>Season</th>
            <th>Color</th>
            <th>Size</th>
            <th>Add</th>
        </tr>
        <tr *ngFor="let product of shopifyProducts">
            <td>
                <div margin-side-auto [ngStyle]="{'background-image':'url('+product?.image.src+')'}" class="user-image">
                </div>
            </td>
            <td text-center>{{product.title}}</td>
            <td text-center>
                <mat-form-field>
                    <mat-label>Brand</mat-label>
                    <select [(ngModel)]="product.selectedBrand" matNativeControl>
                        <option value="" disabled selected></option>
                        <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
                    </select>
                </mat-form-field>
            </td>
            <td text-center>
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <select [(ngModel)]="product.selectCategories" matNativeControl>
                        <option value="" disabled selected></option>
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                </mat-form-field>
            </td>
            <td text-center>
                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <select [(ngModel)]="product.selectedCountry" matNativeControl>
                        <option value="" disabled selected></option>
                        <option *ngFor="let county of countries" [value]="county.id">{{county.name}}</option>
                    </select>
                </mat-form-field>
            </td>
            <td text-center>
                <input width-140 [(ngModel)]="product.manufacturerCode" type="text">
            </td>

            <!-- <td text-center>
                    <input width-140 [(ngModel)]="product.vendorCode" type="text">
                </td> -->
            <td text-center>
                <input width-140 [(ngModel)]="product.season" type="text">
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Color</mat-label>
                    <select [(ngModel)]="product.selectedColor" matNativeControl>
                        <option value="" disabled selected></option>
                        <option *ngFor="let color of product.options" [value]="color.id">{{color.name}}</option>
                        <option value="none">None</option>
                    </select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Size</mat-label>
                    <select [(ngModel)]="product.selectedSize" matNativeControl>
                        <option value="" disabled selected></option>
                        <option *ngFor="let size of product.options" [value]="size.id">{{size.name}}</option>
                        <option value="none">None</option>
                    </select>
                </mat-form-field>
            </td>
            <!-- <td>
                <button class="api-key-button" (click)="addAppiKey(product)">Add Api Key</button>
            </td> -->
            <td>
                <div text-center>
                    <button [disabled]="!product.selectedBrand || !product.selectCategories ||
                    !product.selectedCountry || !product.selectedSize || !product.selectedColor ||
                    !product.manufacturerCode || !product.season" (click)="addProduct(product)" cursor-pointer
                        class="add-button" capitalize>add</button>
                </div>
            </td>
        </tr>
    </table>
</div>
<app-loading [visiblity]="visiblity"></app-loading>