body{
  background-image: linear-gradient(rgba(255,255,255,0.08),rgba(234,220,214,0.63)) !important
}
table, th, td {
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    padding: 3px;
  }
  td{
    width:5%;
  }
  .user-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .add-button{
    font-size: 18px;
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    width: 71px;
    background:#4a90e2;
    box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  }
  .title-code{
    font-weight: bold;
    font-size: 23px;
  }
  .api-key-button{
    font-size: 18px;
    border: none;
    color: white;
    height: 40px;
    border-radius: 6px;
    width: 157px;
    background-color: #4a90e2;
    box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);    
  }
  .edit{
    color: #4a90e2;
    font-size: 25px;
    margin-left: 5px;
    cursor: pointer;
  }
  input[type="text"]{
    font-size: 14px;
    padding: 2px;
  }
  table{
    width: 90%;
    margin: 20px auto 0 auto
  }
