label {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 14px;
}

input[type=text]
    {
    width: 100%;
    padding: 7.5px 8px;
    margin: 4px 0;
    border: 1px solid rgba(255, 89, 90, 1);
    border-radius: 4px;
    box-sizing: border-box;
}
.buttons{
    font-size: 16px;
    background-color: rgb(74,144,226);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;

}
input[type=submit] {
    width: 100%; 
    color: white;
    margin: 35px 0 4px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=date] {
    width: 100%;
    padding: 5px 8px;
    margin: 4px 0;
    border: 1px solid rgba(255, 89, 90, 1);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background: url(/assets/images/calendar.svg) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background-size: 20px 20px;
}
*[width-40]{
    width: 40%;
}
*[width-80]{
    width: 80%
}