<div class="dialog-content">
    <h3 text-center text-align-center>Are you shure ?</h3>
    <div width-80 margin-side-auto display-flex>
        <div margin-rigth-auto class="form_group" width-40 (click)="onClickNo()">
            <input type="submit" value="No" class="buttons">
        </div>
        <div (click)="onClickYes()" margin-left-auto class="form_group" width-40>
            <input type="submit" class="buttons" value="Yes">
        </div>
    </div>
</div>