.info{
    height: 82vh;
    display: flex;
    align-items: center;
    .forms{        
        width: 45%;
        margin: 0 auto;
        label{
            font-size: 19px;
        }
        .input{
            box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.5);
            width: 100%;
            border-radius: 8px;
            border: 3px solid rgb(151,151,151);
            height: 60px;
            padding-left: 10px;
            margin-top: 10px;
            font-size: 18px
        }
        .save-button{    
                font-size: 22px;
                border: 1px solid rgb(151,151,151);
                color: rgb(74,74,74);
                height: 55px;
                margin-top: 30px;
                font-weight: bold;
                border-radius: 8px;
                cursor: pointer;
                width: 100%;
                background: linear-gradient(rgb(216,216,216),rgb(179,179,179));
                box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);            
            }
        // .input{
        //     width: 45vw;
        //     border-radius: 20px;
        //     border: 1px solid rgb(74,144,226);
        //     height: 45px;
        //     padding-left: 10px;
        //     margin-bottom: 30px;
        //     font-size: 18px;
        //     margin-top: 5px;
        // }
        // .save-button{
        //     font-size: 22px;
        //     border: none;
        //     color: white;
        //     height: 6vh;
        //     width: 45vw;
        //     border-radius: 40px;
        //     background: rgb(74,144,226);
        //     cursor: pointer;
        // }
    }
    .error{
        margin-top: 10px;
        color: red;
        font-size: 18px;
    }
    @media screen and (max-width:920px){
        .forms{        
            width: 80% !important;
        }
    }
}