<div class="info" >
    <form [formGroup]="formGroup" class="forms">
        <div margin-bottom-30>
            <label for="">Brand / Shop Name</label>
            <input class="input" formControlName="login" type="text">
            <div class="error" *ngIf="formGroup.get('login').hasError('required') && (formGroup.get('login').dirty || formGroup.get('login').touched)">
                Brand / Shop Name is required
            </div>
        </div>
        <div margin-bottom-30>
            <label for="">Email</label>
            <input class="input" formControlName="email" type="email">
            <div class="error" *ngIf="formGroup.get('email').hasError('required') && (formGroup.get('email').dirty || formGroup.get('email').touched)">
               Email is required
            </div>
            <div class="error" *ngIf="formGroup.get('email').hasError('email') && (formGroup.get('email').dirty || formGroup.get('email').touched)">
               Enter a valid email
            </div>
        </div>
        <!-- <div>
            <label for="">Code</label>
            <input class="input" formControlName="code" type="text">
        </div> -->
        <div margin-bottom-30>
            <label for="">Password</label>
            <input class="input" formControlName="password" type="password">
        </div>

        <div>
            <button  (click)="save()" class="save-button">Save</button>
        </div>
    </form>
    <app-loading  [visiblity]="visiblity"></app-loading>
</div>
