table, th, td {
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    padding: 3px;
  }
  table{
      width: 90%;
      margin: 0 auto;
  }
  td{
    width:5%;
  }
  .save-button{
    height: 30px;
    font-size: 15px;
    width: 50px;
    color: white;
    background: rgb(74,144,226);
    border: none;
    cursor: pointer;
}
input[type="text"]{
  padding: 2px
}