<div margin-5 text-end>
    <i cursor-pointer (click)="close()" class="material-icons">
        close
    </i>
</div>
<div style="overflow-x:auto;">
    <table>
        <tr>
            <th capitalize>name</th>
            <th capitalize>stock</th>
            <th capitalize>price</th>
            <th capitalize>color</th>
            <th capitalize>size</th>
            <th>Save</th>
        </tr>
        <tr *ngFor="let variant of data;let i=index">
            <td text-center >{{variant.name}}</td>
            <td text-center >{{variant.stock}}</td>
            <td text-center >{{variant.price}}</td>
            <td text-center >
                <input width-140 type="text" [(ngModel)]="variant.color">
            </td>
            <td text-center >
                <input width-140 type="text" [(ngModel)]="variant.size">
            </td>       
            <td text-center>
                <button [disabled]="!variant.color || !variant.size" class="save-button">Save</button>
            </td>
        </tr>
    </table>
</div>
<!-- <app-loading [visiblity]="visiblity"></app-loading> -->