*[display-flex]{
    display: flex
}
*[align-center]{
    align-items: center
}
*[justify-center]{
    justify-content: center
}
*[text-center]{
    text-align: center
}
*[text-end]{
    text-align: end
}
*[z-index-max]{
    z-index: 9999;
}
*[cursor-pointer ]{
    cursor: pointer;
}
*[margin-top-60]{
    margin-top: 60px;
}
*[margin-top-20]{
    margin-top: 20px
}
*[margin-left-20]{
    margin-left: 20px;
}
*[margin-5]{
    margin: 5px
}
*[padding-5]{
    padding: 0 5px 5px 5px
}
*[padding-top-20]{
    padding-top: 20px
}
*[padding-top-25]{
    padding-top: 25px
}
*[margin-side-auto]{
    margin: 0 auto
}
*[margin-top-30]{
    margin-top:30px
}
*[margin-bottom-10]{
    margin-bottom: 10px !important
}
*[margin-bottom-30]{
    margin-bottom: 30px !important
}
*[font-size-14]{
    font-size: 14px
}
*[font-size-15]{
    font-size: 15px
}
*[font-size-20]{
    font-size: 20px
}
*[font-size-22]{
    font-size: 20px
}
*[wrap]{
    display: block;
    word-break: break-word;
}
*[relative]{
    position: relative;
}
*[blue]{
    background: rgb(74,144,226);
}
*[color-blue]{
    color: rgb(74,144,226);
}
*[red]{
    background: #f23d3d
}
*[color-red]{
    color: red
}
*[width-90]{
    width: 90%
}
*[width-85]{
    width: 90%
}
*[width-140]{
    width: 140px;
}
*[width-fit]{
    width: fit-content;
}
*[margin-left-auto]{
    margin-left: auto
}
*[margin-button]{
    margin: 30px auto 10px auto
  }
*[capitalize]{
    text-transform: capitalize
}
*[full-width]{
    width: 100%;
}
*[full-height]{
    height: 100%;
}
*[border-none]{
    border: none !important
}
*[no-padding]{
    padding: 0
}
*[HelveticaNeue-Light]{
    font-family: 'HelveticaNeue-Light'
}
*[HelveticaNeue-Medium]{
    font-family: 'HelveticaNeue-Medium'
}
*[HelveticaNeue-Bold]{
    font-family: 'HelveticaNeue-Bold'
}