@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './app/com/annaniks/styles/variables.scss';
html {
     height: 100%;
     /* background-image: linear-gradient(rgba(255,255,255,0.08),rgba(234,220,214,0.63))  */
    }
* {
    outline: none;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.mat-dialog-container {
    padding: 0 !important;
    border-radius: 5px !important;
}
.ui-progress-spinner{
    width: 70px;
    height: 70px;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 1em
}
.mat-slide-toggle-bar{
    background-color: white;
    border: 1px solid #bce0fd;
    height: 24px !important;
    width: 40px !important;
    border-radius: 20px !important;
}
.mat-slide-toggle-thumb{
    border: 1px solid #bce0fd;

}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
    background: white
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background: rgb(74,144,226);
}
.mat-slide-toggle-thumb{
    height: 23px !important;
    width: 23px !important;
}
.mat-slide-toggle-thumb-container{
    top: -3% !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: rgb(74,144,226);
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: rgb(74,144,226);
}
.mat-form-field-infix{
    width: 140px !important;
  }
  button:disabled,
  button[disabled]{
    opacity: 0.5;
  }
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeue.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('./assets/fonts/HelveticaNeueLight.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('./assets/fonts/HelveticaNeueMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('./assets/fonts/HelveticaNeueBold.ttf') format('truetype');
}
.open-menu-modal{
    margin-left: 200px
}
.close-menu-modal{
    margin-left: 0
}
@media screen and (max-width:920px){
    .open-menu-modal{
        margin-left: 0 !important
    }
}