.add-button{
    box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.5);
    border-radius: 4px;
    border:none;
    color: white;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 20px;
    height: 45px;
    font-size: 22px;
    width: 160px;
    background-color: #4a90e2
}
.add-image-button{
    box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.5);
    border-radius: 4px;
    border: none;
    color: white;   
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: #4a90e2
}
form{
    width: 70%;
    margin: 0 auto;
    .mat-form-field{
        width: 100%;
    }
    .mat-form-field-appearance-legacy .mat-form-field-infix{
        font-size: 15px;
    }
}
input[type="file"] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}
.scroll-image{
    overflow-x: scroll;
    max-width: 429px;
}
.image{
    height: 83px;
    min-width: 75px;
    max-width: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: relative;
    border: 1px solid #AAA;
    border-radius: 3px;
    i{
        position: absolute;
        top: -8px;
        right: -6px;
        font-size: 23px;
        color: grey;
        z-index: 99999;
    }
}

.images-empty{
    width: 160px;
    height: 42px;
    font-size: 20px;
}
.images-full{
    height: 30px;
    width: 40px;
    font-size:20px;
}
::-webkit-scrollbar {
    width: 12px;
} 
::-webkit-scrollbar-track {
    display: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    height: 20px;
}
*[margin-bottom-5]{
    margin-bottom:5px
}
*[margin-bottom-12]{
    margin-bottom: 12px;
}
