<div *ngIf="isGet">
    <div margin-5 text-end>
        <i cursor-pointer (click)="close()" class="material-icons">
            close
        </i>
    </div>
    <div width-85 margin-side-auto margin-bottom-10 display-flex justify-center align-center>
        <div class="scroll-image" display-flex>
            <div *ngFor="let image of defaulImageArray;let i=index" [ngStyle]="{'background-image':image}"
                class="image">
                <i (tap)="delete(i)" cursor-pointer class="material-icons">
                    close
                </i>
            </div>
        </div>
        <button cursor-pointer [ngClass]="{'images-full':defaulImageArray[0],'images-empty':!defaulImageArray[0]}"
            class="add-image-button">
            <input cursor-pointer (change)="changeImage($event)" type="file" />
            <i *ngIf="defaulImageArray[0]" class="material-icons">
                add
            </i>
            <span *ngIf="!defaulImageArray[0]">Add Image</span>
        </button>
    </div>
    <form [formGroup]="formGroup">
        <div text-center>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </div>
        <div text-center>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
        </div>
        <div text-center>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Vendor code" formControlName="vendorCode">
            </mat-form-field>
        </div>
        <div text-center>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Manifacturer code" formControlName="manifacturerCode">
            </mat-form-field>
        </div>
        <div text-center>
            <mat-form-field>
                <mat-label>Countries</mat-label>
                <select formControlName="country" matNativeControl>
                    <option value="" disabled selected></option>
                    <option *ngFor="let county of countries" [value]="county.id">{{county.name}}</option>
                </select>
            </mat-form-field>
        </div>
        <div text-center>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Season" formControlName="season">
            </mat-form-field>
        </div>
        <div text-center>
            <mat-form-field>
                <mat-label>Brands</mat-label>
                <select formControlName="selectBrands" matNativeControl>
                    <option value="" disabled selected></option>
                    <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
                </select>
            </mat-form-field>
        </div>
        <div text-center>
            <mat-form-field>
                <mat-label>Categories</mat-label>
                <select formControlName="selectCategories" matNativeControl>
                    <option value="" disabled selected></option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            </mat-form-field>
        </div>
        <div text-center color-red margin-bottom-12 font-size-14>{{errorMessage}}</div>
        <div margin-bottom-5 text-center>
            <button (click)="addItem()" cursor-pointer class="add-button">Add</button>
        </div>
    </form>
</div>
<app-loading  [visiblity]="visiblity"></app-loading>