.add-button{
    height: 40px;
    font-size: 17px;
    width: 160px;
    color: white;
    background: rgb(74,144,226);
    font-size: 20px;
    border: none
}
.color-picker-container{
    margin: 0 auto;
    width: 350px;
  //  display: flex;
    align-items: center;
    // margin-bottom: 15px;
    .color-picker{
        width: 150px;
        margin-left: 10px
    }
}
.bottom-15{
    margin-bottom: 15px
}
.mat-form-field{
    width: 350px;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
    font-size: 15px;
}
*[margin-bottom-12]{
    margin-bottom: 12px;
}
*[grey]{
    color: grey
}