<div margin-5 text-end>
    <i cursor-pointer (click)="close()" class="material-icons">
        close
    </i>
</div>
<!-- <div [ngStyle]="{'background-image':defaultImage}" class="image">
    <div  class="camera-container">
      <label cursor-pointer margin-auto for="file-upload" class="custom-file-upload">
          <i  class="material-icons">
              camera_alt
          </i>
          <input  id="file-upload" (change)="changeImage($event)" type="file" />
      </label>
    </div>

  </div> -->
<form [formGroup]="formGroup">
    <!-- <div [ngClass]="{'bottom-15':formGroup.value.name}" class="color-picker-container">
        <span grey>Color</span>
        <input cursor-pointer class="color-picker" border-none [value]="color2" [style.background]="color2"
            [(colorPicker)]="color2" />
    </div> -->
    <div text-center>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
    </div>
    <div text-center>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Color" formControlName="color">
        </mat-form-field>
    </div>
    <div text-center>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Price" formControlName="price">
        </mat-form-field>
    </div>
    <div text-center>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Size" formControlName="size">
        </mat-form-field>
    </div>
    <div text-center>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Stock" formControlName="stock">
        </mat-form-field>
    </div>
    <!-- <div text-center color-red margin-bottom-12 font-size-14>{{errorMessage}}</div> -->
    <div margin-top-20 text-center>
        <button (click)="addVariant()" cursor-pointer class="add-button">Add</button>
    </div>
</form>
<app-loading [visiblity]="visiblity"></app-loading>